# Compiled class file
*.class
.DS_Store
# Log file
*.log
!dataverse-bridge.log
!bridgedb.log
*.idea
*.iml
# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!bridge-plugin-easy-0.7-jar-with-dependencies.jar
*.war
*.ear
*.zip
!bridge-quickstart.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target
#dist
notes.txt
application*.properties
*.tmp
*.script

src/test/resources/output/results
